/*SKILLS*/

#skills {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#skills h2 {
    color: #fff;
    background-color: rgba(230, 103, 103, 1);
    width: fit-content;
    padding: 4px 18px 2px 18px;
    font-weight: 400;
    font-size: 30px;
    margin: 60px 0;
}



.content {
    position: relative;
    width: 100%;
    height: 400px;}
    h5{ 
        color: #fff;
        font-weight: 800;
        font-size: 20px;
        margin: 0;}
    ul {
        padding: 0!important;
        margin-bottom: 0!important;
    }
    li {
        color: #fff;
        font-size: 16px;
        margin: 0;
    }

.category {
    width: 650px;
    height: 400px;
    position: relative;
}

.languages {
    text-align: center;
    background: #ff686b;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 85px;
    left: 455px;
    z-index: 1;
}

.software {
    text-align: center;
    background: rgb(165, 255, 214);
    border-radius: 50%;
    width: 230px;
    height: 230px;
    position: absolute;
    top: -20px;
    left: 0px;
    z-index: 2;
}

.pm {
    text-align: center;
    background: #ffa69e;
    border-radius: 50%;
    width: 155px;
    height: 155px;
    position: absolute;
    top: -29px;
    left: 419px;
    z-index: 4;
}

.web {
    text-align: center;
    background: #84dcc6;
    border-radius: 50%;
    width: 275px;
    height: 275px;
    position: absolute;
    top: 18px;
    left: 205px;
    z-index: 3;
}

.design {
    text-align: center;
    background: #5ca4a9;
    border-radius: 50%;
    width: 155px;
    height: 155px;
    position: absolute;
    top: 167px;
    left: 130px;
    z-index: 5;
}

.iconeSoftware {
    height: 35px;
    margin: 5px;
}
